/*font-family Shadows Into Light', */

/* Main */
body {
    font-family: 'Shadows Into Light', sans-serif;
    background-image: url(../images/sun-pattern.webp);
 
}

h1 {
    text-align: center;
    font-size: 100px;
    color: #FF4742;
    margin-top: 20px;
    margin-bottom: 20px;

}

/*Quiz Start Button*/

#idStart {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin: 5% auto;
}

#idStart:hover,
#idStart:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

#idStart:active {
    opacity: .5;
}

/* Main-Question*/

#idQuestion{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 5%;
    text-align: center;
}

/*Answer Choices*/
.classAnswers{
    background: #000000;
        border: 1px solid #FF4742;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: 'Shadows Into Light', sans-serif;
        font-size: 35px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        min-width: 80px;
        outline: 0;
        padding: 12px 5px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        margin: 1.5%;
}
.classAnswers:hover,
.classAnswers:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.classAnswers:active {
    opacity: .5;
}


/* Div Choices to Center and align under main question*/
#idQuestions {
        display: flex;
        align-items: center;
        justify-content: center;
}

@media (min-width: 481px) {
    h1 {
        text-align: center;
        font-size: 100px;
        color: #FF4742;
        margin-top: 160px;
        font-size: 130px;


    }

    .classAnswers {
        min-height: 80px;
        min-width: 150px;
    }

    #idQuestion {
        font-size: 55px;
        text-align: center;


    }

    .classAnswers {
        font-size: 45px;
    }

    #idStart {
        font-size: 50px;
        line-height: 60px;
        min-height: 85px;

    }


}